{% extends'admin/course/index.html.twig' %}

{% block dashboard_header_actions %}
    <a href="{{ path('app_admin_course') }}" class="btn">
        {{ ux_icon('tabler:chevron-left', { class: 'icon'}) }}
        Listagem
    </a>
{% endblock %}

{% block dashboard_menu %}{% endblock %}

{% block dashboard_content %}
    <div class="col-12">
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_row(form.published) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.grade) }}
            {{ form_row(form.year) }}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
